:root {
    --primary-color: #F9F9F9;
    --secondary-color: #2b2b2b;
    --accent-color: #41635E;
    --error-color: #B00020;
}

.page-container {
    padding-top: 5rem;
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    max-height: 100vh;
}